body {
	margin: 0;
	padding: 0;
	background-color: #EAECEE;
	font-family: Verdana, sans-serif;
	font-size: 0.9em;
}
#container {
	margin: 0 auto;
	padding: 0 20px 10px 20px;
	border: 1px solid #555AAA;
	width: 1200px;
	padding-top: 10px;
	background-color: Bisque;
	text-decoration: blink
}
#header{
	font-size: medium;
	text-align: center;
	border: 1px solid #666666;
	background: #FF0088;
	padding: 0 15px 5px 15px;
	margin-bottom: 50px;
	color: Black;
	font-family: Arial, Gabriola;
	font-style: oblique;
	text-decoration: blink;
	font-weight: bolder;
	border-style: double;
	background-color: #80FF00;
	border-color: Black;
	border-width: thick
}
#footer{
	clear: both;
	text-align: center;
	color: #111111;
	font-size: 0.85em;
	padding: 3em 0 0 0;
}
h2{
	font-size: 1.2em;
}
#td{
	background-color: blue;
}